/ {
    combos {
        compatible = "zmk,combos";

        combo_bspc {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp BSPC>;
        };

        combo_sqt {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp SQT>;
        };

        combo_ret {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp RET>;
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp ESC>;
        };

        combo_cc {
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&kp LC(C)>;
        };
    };
};
